@font-face {
    font-family: my-app-icon;
    src: url("my-app-icon.woff2?5e34e89f") format("woff2"),
             url("my-app-icon.woff?5e34e89f") format("woff"),
             url("my-app-icon.ttf?5e34e89f") format("truetype"),
             url("my-app-icon.svg?5e34e89f#my-app-icon") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="my-icon"], [class*=" my-icon"] {
    font-family: 'vant-icon', 'my-app-icon', 'icoflaginfo' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
}


.my-icon-success::before {
    content: "\ea01";
}

